:root{
    --link:#000;
    --hover:#b00;
    --main:#ffffff;
    --bg:#0a0b38;
    --size:200vmin;
    --ratio: 1/1.1;
}



body {
    position: absolute;
    margin: 0
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    font-family: novecento-slab, serif;
    font-style: normal;
    color: var(--main);
}



header{
    resize: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 40px 0;
}

.container{
    resize: both;
    width: calc(var(--size)*var(--ratio));
    margin: 0 auto;
}

.intro-title{
    color: var(--main);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10vmin;
}

.introduction{
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 2.2rem;
    text-transform: lowercase;
    font-weight: 100
}
}



.introduction p {
    padding: 10px;
    text-align: center;
    font-size: 3vw;
    color: #000000;
}



.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.filter-button-group button {
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    background:  #FCFBF2;
    font-size: 10px;
    margin-right: 8px;
    transition: background 0.5s;
}


.filter-dropdown {
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    margin-right: 8px;
    font-size:18px;
}
















