:root{
    --link:#000;
    --hover:#b00;
    --main:#ffffff;
    --bg:#0a0b38;
    --size:200vmin;
    --ratio: 1/1.1;
}

body {
    margin: 0
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    font-family: novecento-slab, serif;
    font-style: normal;
    color: var(--main);
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 40px 0;
}

.container{
    width: calc(var(--size)*var(--ratio));
    margin: 0 auto;
}

.intro-title{
    color: var(--main);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10vmin;
}

.introduction{
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 2.2rem;
    text-transform: lowercase;
    font-weight: 100
}
}


.introduction p {
    padding: 10px;
    text-align: center;
    font-size: 1vw;
}

.filter-dropdown {
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 20px;
    margin-right: -60px;
    margin-left: 120px;
    font-size:18px;
}


.canada{
    display: inline;
    border: none;
    float: left;
   margin-left: 350px;
    margin-top: 100px;
    font-size: 1.2vw;
}

.usa {
    display: inline;
    border: none;
    float: right;
    margin-right: 250px;
    margin-top: 100px;
    font-size: 1.2vw;
}

















